<!-- Background Video -->
<video autoplay muted loop id="bg-video">
  <source src="/assets/templatefront/assets/images/course-video.mp4" type="video/mp4" />
</video>

<!-- White mask overlay -->
<div id="video-overlay"></div>

<!-- Centered Login Form -->
<div class="login-form-container">
  <div class="text-center">
      <a href="/home" class="logo">
          <img src="/assets/templatefront/assets/images/logo.png" alt="Logo">
      </a>
  </div>

  <form class="login-form" style="margin-top: 40px;" [formGroup]="formLogin" (ngSubmit)="onLogin()">
      <div class="form-group">
          <input type="email" id="email" name="email" placeholder="Enter your email" formControlName="email">
          <div class="alert alert-danger" *ngIf="formLogin.controls['email'].invalid && formLogin.controls['email'].touched">
            <p *ngIf="formLogin.controls['email'].hasError('required')">email Is Mandatory</p>
            <p *ngIf="formLogin.controls['email'].hasError('email')">must be an email</p>
        </div>
      </div>

      <div class="form-group">
          <input type="password" id="password" name="password" placeholder="Enter your password" formControlName="password">
          <div class="alert alert-danger" *ngIf="formLogin.controls['password'].invalid && formLogin.controls['password'].touched">
            <p *ngIf="formLogin.controls['password'].hasError('required')">Password Is Mandatory</p>
          </div>
          
      </div>

      <re-captcha siteKey="6LeG2-MqAAAAAM4t_DgHbFuuT7YkbMcF0jGKwkuv" (resolved)="resolved($event)"></re-captcha>
      <button class="btn" type="submit" [disabled]="formLogin.invalid ">Login</button>
  </form>

  <div class="text-center mt-3">
      <a href="#" class="forget" (click)="showForgotPasswordForm(); $event.preventDefault();">Forgot password?</a>
  </div>

  <div *ngIf="isForgotPassword">
    <h2>Forgot your password ?</h2>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="submitForgotPassword()">
      <div class="form-group">
        <input type="email" id="email" name="email" placeholder="Enter your email address" formControlName="email"/>
        <div class="alert alert-danger" *ngIf="forgotPasswordForm.controls['email'].invalid && forgotPasswordForm.controls['email'].touched">
          <p *ngIf="forgotPasswordForm.controls['email'].hasError('required')">Email is mandatory.</p>
          <p *ngIf="forgotPasswordForm.controls['email'].hasError('email')">Please enter a valid email address.</p>
        </div>
      </div>
      <button type="submit" [disabled]="forgotPasswordForm.invalid">Submit</button>
    </form>
  </div>

  <div class="modal two-fa-modal" *ngIf="show2FAModal">
    <div class="modal-content">
      <h4>Verify Your identity</h4>
      <div class="form-group">
        <input type="text" placeholder="Verification Code" [(ngModel)]="twoFACode">
      </div>
      <p>Verification code expires in: {{ remainingTime }} seconds</p>
      <div class="modal-buttons">
          <button (click)="verify2FA()"  style="margin-right: 15px;">Verify</button>
          <button (click)="close2FAModal()">Cancel</button>
      </div>
    </div>
  </div>

  <!-- "Don't have an account?" and "Create one" button in one line -->
  <div class="account-options">
      <p>Don't have an account?</p>
      <button class="btn-outline" [routerLink]="['/signup']">Create one</button>
  </div>
</div>
<div class="modal" *ngIf="showPendingNotification">
  <div class="modal-content">
    <p>Your account is pending approval by the admin.</p>
    <button (click)="closeNotification()">OK</button>
  </div>
</div>
<div class="modal" *ngIf="showBannedNotification">
  <div class="modal-content">
    <p>Your account has been banned. Please contact support.</p>
    <button (click)="closeNotification()">OK</button>
  </div>
</div>