<body>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <div class="page-content">
    
    <div class="container">
      <br><br>
      <h2 class="styled-titre">Add Questions</h2>
      <br>
  
      <button type="button" class="btn btn-modern-back" (click)="goBack()">
        <i class="fas fa-arrow-left"></i> Back
      </button>
  
      <form [formGroup]="addQuestionForm" (ngSubmit)="addQuestions()" enctype="multipart/form-data">
        <div formArrayName="questionsArray">
          <div *ngFor="let questionForm of questionsArray.controls; let i = index" [formGroupName]="i" class="response-container">
            <div class="response-header">
              <h3 class="styled-response">Question {{ i + 1 }}</h3>
              <button type="button" class="delete-response-button" (click)="removeQuestion(i)">
                <i class="fas fa-trash-alt"></i>
              </button>
            </div>
            <div class="mb-3">
              <label for="question{{i}}" class="styled-titres-label">Question Text</label>
              <input id="question{{i}}" formControlName="question" class="form-control" required />
              <div *ngIf="questionForm.get('question')?.invalid && (questionForm.get('question')?.dirty || questionForm.get('question')?.touched)" class="alert alert-danger">
                Question Text is required.
              </div>
            </div>
  
            <div class="mb-3">
              <label for="type{{i}}" class="styled-titres-label">Type of Question</label>
              <select id="type{{i}}" class="form-control" formControlName="type">
                <option *ngFor="let type of questionTypes" [value]="type">{{ type }}</option>
              </select>
              <div *ngIf="questionForm.get('type')?.invalid && (questionForm.get('type')?.dirty || questionForm.get('type')?.touched)" class="alert alert-danger">
                Type of Question is required.
              </div>
            </div>
  
            <div class="mb-3">
              <label for="file{{i}}" class="styled-titres-label">Question Image</label>
              <input type="file" id="file{{i}}" class="form-control" (change)="onFileSelected($event, i)" />
            </div>
          </div>
        </div>
  
        <button type="button" class="btn btn-secondary" (click)="addAnotherQuestion()">Add other Question +</button>
        <button type="submit" class="btn btn-primary" [disabled]="addQuestionForm.invalid">Add</button>
      </form>
    </div>

<style>
  .response-container {
    background-color: rgb(0 136 255 / 8%);
    border: 2px solid #000000;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    position: relative;
  }
  
  .response-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .delete-response-button {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 1.2em;
    color: #d32f2f;
  }
  
  .delete-response-button:hover {
    color: #700000;
  }
  
  .btn-modern-back {
          background: linear-gradient(135deg, #64B5F6, #1E88E5);
          border: none;
          padding: 8px 15px;
          border-radius: 5px;
          cursor: pointer;
          font-size: 0.9em;
          color: white;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          transition: transform 0.2s ease, box-shadow 0.2s ease;
          margin-top: 4px;
      }
  
      .btn-modern-back:hover {
          transform: translateY(-2px);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }
  
      .btn-modern-back i {
          margin-right: 5px;
          color: white;
      }
  
      .styled-question {
        color: red;
        font-family: 'Arial', sans-serif; /* Choisissez la police que vous préférez */
        font-size: 1.2em; /* Ajustez la taille de la police si nécessaire */
        font-weight: bold; /* Optionnel : pour mettre le texte en gras */
      }
  
      .styled-response {
        color: #0010d0;
        font-family: 'Arial', sans-serif; /* Choisissez la police que vous préférez */
        font-size: 1.2em; /* Ajustez la taille de la police si nécessaire */
        font-weight: bold; /* Optionnel : pour mettre le texte en gras */
      }
  
      .styled-titre {
        color: rgb(255, 255, 255);
        font-family: 'Arial', sans-serif; /* Choisissez la police que vous préférez */
        font-size: 1.6em; /* Ajustez la taille de la police si nécessaire */
        font-weight: bold; /* Optionnel : pour mettre le texte en gras */
      }
  
      body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            margin: 0;
            background-image: url('/assets/background_take_quiz.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
          }
          .page-content {
            flex: 1; /* Permet au contenu de prendre tout l'espace disponible */
          }
  
  form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border: 2px solid #a10000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 4px;
    margin-bottom: 88px;
  }
  
  </style>
  </div>
     <!-- ***** Footer Area Start ***** -->
     <app-front-footer></app-front-footer>
     <!-- ***** Footer Area End ***** -->
  
    </body>