.statistics-container {
  padding: 20px;
  background-color: #0d0d0e;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #fbf9f9;
  text-align: center;
}

.chart-container {
  position: relative;
  width: 70%;
  margin: 0 auto;
  max-height: 400px;
  padding-bottom: 70%;
}

.chart-title {
  text-align: center;
  font-size: large;
  font-weight: bold;
  margin-bottom: 1rem;
}

canvas {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.chart-legend {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  .legend-item {
    display: flex;
    align-items: center;
    margin: 5px 15px;

    .legend-color {
      width: 14px;
      height: 14px;
      margin-right: 8px;
      border-radius: 3px;

    }

    .legend-label {
      font-size: 0.9rem;
        .first-word {
          margin-right: 5px; // Espace entre "Cours" et le reste
        }
    }
     .legend-label-published {
          color: rgba(173, 216, 230, 0.8);
        }

        .legend-label-unpublished {
          color: rgba(255, 228, 181, 0.8);
        }
  }
}

.error-message {
  color: red;
  margin-top: 10px;
}