<body>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <div class="page-content">

    <div class="container">
      <br><br>
      <h2 class="styled-titre">Update Response</h2>
      <br>
  
      <button type="button" class="btn btn-modern-back" (click)="goBack()">
        <i class="fas fa-arrow-left"></i> Back
      </button>
  
      <div *ngIf="questionType === 'MULTIPLE_CHOICE'" class="response-container">
        <form [formGroup]="updateResponseForm" (ngSubmit)="updateResponse()">
          <div class="mb-3">
            <label for="responseText" class="form-label">Response</label>
            <input id="responseText" formControlName="response" class="form-control" required />
            <div *ngIf="updateResponseForm.get('response')?.invalid && (updateResponseForm.get('response')?.dirty || updateResponseForm.get('response')?.touched)" class="alert alert-danger">
              Response is required.
            </div>
          </div>
  
          <div class="mb-3">
            <label for="responseCorrect" class="styled-titres-label">Correct ?</label>
            <select id="responseCorrect" formControlName="responseCorrect" class="form-control" required>
              <option [ngValue]="true">Oui</option>
              <option [ngValue]="false">Non</option>
            </select>
          </div>
  
          <div *ngIf="errorMessage" class="alert alert-danger">
            {{ errorMessage }}
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="updateResponseForm.invalid">Update</button>
        </form>
      </div>
  
      <div *ngIf="questionType === 'DRAG_AND_DROP'" class="response-container">
        <form [formGroup]="updateDragAndDropForm" (ngSubmit)="updateDragAndDrop()">
          <div class="mb-3">
            <label for="sourceText" class="styled-titres-label">Source Text</label>
            <input id="sourceText" formControlName="sourceText" class="form-control" required />
            <div *ngIf="updateDragAndDropForm.get('sourceText')?.invalid && (updateDragAndDropForm.get('sourceText')?.dirty || updateDragAndDropForm.get('sourceText')?.touched)" class="alert alert-danger">
              Source Text is required.
            </div>
          </div>
  
          <div class="mb-3">
            <label for="targetText" class="styled-titres-label">Target Text</label>
            <input id="targetText" formControlName="targetText" class="form-control" required />
            <div *ngIf="updateDragAndDropForm.get('targetText')?.invalid && (updateDragAndDropForm.get('targetText')?.dirty || updateDragAndDropForm.get('targetText')?.touched)" class="alert alert-danger">
              Target Text is required.
            </div>
          </div>
  
          <button type="submit" class="btn btn-primary" [disabled]="updateDragAndDropForm.invalid">Update</button>
        </form>
      </div>
    </div>

<style>
  .btn-modern-back {
        background: linear-gradient(135deg, #64B5F6, #1E88E5);
        border: none;
        padding: 8px 15px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 0.9em;
        color: white;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        transition: transform 0.2s ease, box-shadow 0.2s ease;
        margin-top: 4px;
    }

    .btn-modern-back:hover {
        transform: translateY(-2px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .btn-modern-back i {
        margin-right: 5px;
        color: white;
    }

    .response-container {
      background-color: rgba(255, 255, 255, 48%);
      border: 2px solid #000000;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 6px;
      position: relative;
      margin-top: 4px;
      margin-bottom: 164px;
    }

    .styled-titre {
      color: rgb(255, 255, 255);
      font-family: 'Arial', sans-serif; /* Choisissez la police que vous préférez */
      font-size: 2.1em; /* Ajustez la taille de la police si nécessaire */
      font-weight: bold; /* Optionnel : pour mettre le texte en gras */
      text-align: center;
    }

    .styled-titres-label {
      color: black;
      font-family: 'Arial', sans-serif; /* Choisissez la police que vous préférez */
      font-size: 1.1em; /* Ajustez la taille de la police si nécessaire */
      font-weight: bold; /* Optionnel : pour mettre le texte en gras */
      margin-bottom: 1px;
    }

    body {
          display: flex;
          flex-direction: column;
          min-height: 100vh;
          margin: 0;
          background-image: url('/assets/background_take_quiz.png');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          background-attachment: fixed;
        }
        .page-content {
          flex: 1; /* Permet au contenu de prendre tout l'espace disponible */
        }
</style>
</div>

<!-- ***** Footer Area Start ***** -->
<app-front-footer></app-front-footer>
<!-- ***** Footer Area End ***** -->

</body>