<main>
<body>
 <div class="container-scroller">
 <!-- navbar Start -->

 <!-- navbar End -->
 <app-back-menu-admin></app-back-menu-admin>  
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">

       
      
    
    
        
        <app-back-header></app-back-header>
        

        
        

        <!-- partial -->
        <div class="content-wrapper mt-5">

          <router-outlet></router-outlet>  
        </div>
      </div>
        </div>
        
    
</body>

</main>