<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="quiz-container">

  <div *ngIf="!showQuizQuestions" class="quiz-details">
    <h2>Training Quiz Details</h2>
    <p><strong>Title :</strong> {{ quizDetails?.titleQuiz }}</p>

    <div>
      <button class="start-button" (click)="loadQuestions()">Take the training quiz</button>
    </div>

  </div>

  <div *ngIf="showQuizQuestions" class="quiz-questions">
    <div *ngIf="questions.length > 0">
      <h3 class="question-header">
        Question {{ currentQuestionIndex + 1 }} / {{ questions.length }}
      </h3>
      <p class="question-text">{{ questions[currentQuestionIndex].question }}</p>
      <img *ngIf="questions[currentQuestionIndex]?.questionPictureUrl"
           [src]="questions[currentQuestionIndex].questionPictureUrl"
           alt="Illustration de la question" class="question-image">

      <div *ngIf="questions[currentQuestionIndex].type === 'DRAG_AND_DROP'">
        <div class="drag-and-drop-container">
          <div class="target-items">
            <div *ngFor="let pair of dragAndDropPairs[questions[currentQuestionIndex].idQuestion]; trackBy: trackByPair" class="target-item">
              <div class="target-text">{{ pair.targetText }}</div>
              <div class="drop-area"
     [class.correct]="questionStatuses[questions[currentQuestionIndex].idQuestion] === 'correct'"
     [class.incorrect]="questionStatuses[questions[currentQuestionIndex].idQuestion] === 'incorrect' && droppedItems[questions[currentQuestionIndex].idQuestion + '-' + pair.idDragAndDrop] && droppedItems[questions[currentQuestionIndex].idQuestion + '-' + pair.idDragAndDrop]?.targetText !== pair.targetText"
     (dragover)="onDragOver($event)"
     (drop)="onDrop($event, questions[currentQuestionIndex].idQuestion, pair.idDragAndDrop)"
     (dblclick)="resetDrop(questions[currentQuestionIndex].idQuestion, pair.idDragAndDrop)">
  <span *ngIf="droppedItems[questions[currentQuestionIndex].idQuestion + '-' + pair.idDragAndDrop]">
    {{ droppedItems[questions[currentQuestionIndex].idQuestion + '-' + pair.idDragAndDrop].sourceText }}
  </span>
</div>
              <div *ngIf="questionStatuses[questions[currentQuestionIndex].idQuestion] === 'incorrect' && droppedItems[questions[currentQuestionIndex].idQuestion + '-' + pair.idDragAndDrop]?.targetText !== pair.targetText" class="correct-answer">
                Correct: {{ pair.sourceText }}
              </div>
            </div>
          </div>
          <div class="source-items">
            <div *ngFor="let pair of shuffledDragAndDropPairs[questions[currentQuestionIndex].idQuestion]; trackBy: trackByPair"
                 class="drag-item"
                 draggable="true"
                 (dragstart)="onDragStart($event, pair)">
              {{ pair.sourceText }}
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="questions[currentQuestionIndex].type !== 'DRAG_AND_DROP'">
        <div class="answer-options" *ngFor="let response of questions[currentQuestionIndex].responses"
             (click)="selectedResponses[questions[currentQuestionIndex].idQuestion] = response.idResponse"
             [class.selected]="selectedResponses[questions[currentQuestionIndex].idQuestion] === response.idResponse"
             [class.correct]="questionStatuses[questions[currentQuestionIndex].idQuestion] === 'correct' && response.idResponse === correctAnswers[questions[currentQuestionIndex].idQuestion]"
             [class.incorrect]="questionStatuses[questions[currentQuestionIndex].idQuestion] === 'incorrect' && selectedResponses[questions[currentQuestionIndex].idQuestion] === response.idResponse && response.idResponse !== correctAnswers[questions[currentQuestionIndex].idQuestion]"
             [class.is-correct-option]="questionStatuses[questions[currentQuestionIndex].idQuestion] === 'incorrect' && response.responseCorrect">
          <span class="answer-label">{{ response.response }}</span>
          <span *ngIf="questionStatuses[questions[currentQuestionIndex].idQuestion] === 'incorrect' && response.idResponse === correctAnswers[questions[currentQuestionIndex].idQuestion]" class="correct-indicator"><i class="fas fa-check"></i></span>
        </div>
      </div>


      <div class="navigation-buttons">
        <button *ngIf="currentQuestionIndex > 0" class="nav-button prev-button"
                (click)="prevQuestion()">Previous</button>
        <button class="submit-button" (click)="submitSingleQuestion(questions[currentQuestionIndex])">Submit</button>
        <button *ngIf="currentQuestionIndex < questions.length - 1"
                class="nav-button next-button" (click)="nextQuestion()">Next</button>
      </div>

      </div>
  </div>
</div>

<style>
::ng-deep body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/assets/learn background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
  }
  
  .quiz-container {
    max-width: 600px;
    width: 100%;
    background: #2d2d6ee3;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0.75px solid #00ccff;
  }
  
  .quiz-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .quiz-details p {
    margin-top: 14px;
    font-size: 16px;
  }
  
  .start-button {
    background-color: #ff2c45;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .start-button:hover {
    background-color: #72161b;
  }
  
  .question-header {
    font-size: 20px;
    margin-bottom: 10px;
    color: #00bdff;
  }
  
  .question-text {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .answer-options {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background: #3a3a7a;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-bottom: 10px;
    user-select: none;
  }
  
  .answer-options:hover, .answer-options.selected {
    background: #ff4757;
  }
  
  .answer-options.correct {
    background: #2ecc71; /* Green for correct */
    color: white;
  }
  
  .answer-options.incorrect {
    background: #e74c3c; /* Red for incorrect */
    color: white;
  }
  
  .answer-options.is-correct-option {
    background: #2ecc71; /* Green to highlight the correct option when the user is wrong */
    color: white;
  }
  
  .answer-label {
    font-size: 16px;
    width: 100%;
    text-align: center;
  }
  
  .navigation-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }


.submit-button {
  background-color: #a41f25; /* Red background */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /*Center the content vertically */
}

.submit-button:hover {
  background-color: #72161b; /* Darker red on hover */
}
  
  .prev-button {
    margin-right: auto;
  }
  
  .next-button {
    margin-left: auto;
  }

  .prev-button, .next-button:hover {
  background-color: #216a9b;
  }
  
  .nav-button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .quiz-details {
    margin-top: 20px;
  }
  
  .question-image {
    max-width: 100%; /* L'image ne dépassera pas la largeur de son conteneur */
    max-height: 200px; /* Vous pouvez ajuster la hauteur maximale ici */
    width: auto; /* Laisser l'image garder ses proportions */
    height: auto;
    display: block;
    margin: 15px auto;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    object-fit: cover; /* Si vous voulez que l'image couvre l'espace sans déformation */
  }
  
  .drag-and-drop-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .target-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .target-item {
    display: flex;
    flex-direction: column;
  }
  
  .target-text {
    color: black;
    background-color: #e8e8e8;
    padding: 8px 12px;
    border-radius: 3px;
    text-align: center;
  }
  
  .drop-area {
    color: rgb(129, 0, 0);
    background-color: #f0f0f0;
    padding: 8px 12px;
    border-radius: 3px;
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    cursor: pointer;
  }
  
  .drop-area.correct {
    background-color: #2ecc71;
    color: white;
  }
  
  .drop-area.incorrect {
    background-color: #e74c3c;
    color: white;
  }
  
  .source-items {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .drag-item {
    transition: transform 0.3s ease; /* Ajout de la transition */
    background-color: #f0f0f0;
    padding: 8px 12px;
    border-radius: 3px;
    cursor: move;
    user-select: none;
    color: black;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  .modern-button {
    background-color: #3498db; /* Couleur de fond moderne */
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  
  .modern-button:hover {
    background-color: #2980b9; /* Couleur plus foncée au survol */
    transform: translateY(-2px); /* Légère élévation au survol */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
  }
  
  .modern-button:active {
    transform: translateY(1px); /* Légère descente à l'activation */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  .modern-button i {
    font-size: 18px; /* Ajuster la taille de l'icône */
  }
  .h2, h2 {
    color: #0097ff;
  }
  .correct-answer {
    color: #2ecc71;
    font-size: 0.9em;
    margin-top: 5px;
  }
  .correct-indicator {
    margin-left: 5px;
    color: #2ecc71;
  }
  .correct-answer-indicator {
    color: #2ecc71; /* Green color for the correct answer indicator */
    font-weight: bold;
    margin-left: 5px;
  }
  .answer-options.correct {
    background: #2ecc71; /* Green for a correctly selected answer */
    color: white; /* Ensure text is readable on green */
  }
  
  .answer-options.incorrect {
    background: #e74c3c; /* Red for an incorrectly selected answer */
    color: white; /* Ensure text is readable on red */
  }
  
  .answer-options.is-correct-option {
    background: #2ecc71; /* Green to highlight the correct option when the user is wrong */
    color: white; /* Ensure text is readable on green */
  }
</style>