.card {
  margin-bottom: 1rem;
  
  .card-body {
    padding: 1.5rem;
  }
}

.form-control {
  margin-bottom: 1rem;
}

.resource-form {
  padding: 1rem;
  background-color: #f8f9fa;
  border-radius: 4px;
  margin-bottom: 1rem;
} 