  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Corona Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/assets/templateback/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/assets/templateback/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/assets/templateback/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="/assets/templateback/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/assets/templateback/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/templateback/vendors/owl-carousel-2/owl.theme.default.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/assets/templateback/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/assets/templateback/images/favicon.png" />
  </head>

<!-- navbar  Start-->

<nav class="navbar p-0 fixed-top d-flex flex-row">
    <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
      <a class="navbar-brand brand-logo-mini" href="#"><img src="/assets/templateback/images/logo-mini.svg" alt="logo" /></a>
    </div>
    <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
    
      <ul class="navbar-nav w-100">
        <li class="nav-item w-100">
          <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
            <input type="text" class="form-control" placeholder="Search ">
          </form>
        </li>
        <li class="nav-item w-30">
          
          <button (click)="logout()" type="button" class="btn btn-danger" style="display: flex; align-items: center;">
            <i class="fas fa-sign-out-alt" style="margin-right: 5px;"></i> Logout
          </button>
        </li>
      </ul>
      
      
    </div>
  </nav>

  <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/assets/templateback/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="/assets/templateback/vendors/chart.js/Chart.min.js"></script>
    <script src="/assets/templateback/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="/assets/templateback/vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="/assets/templateback/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="/assets/templateback/vendors/owl-carousel-2/owl.carousel.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/assets/templateback/js/off-canvas.js"></script>
    <script src="/assets/templateback/js/hoverable-collapse.js"></script>
    <script src="/assets/templateback/js/misc.js"></script>
    <script src="/assets/templateback/js/settings.js"></script>
    <script src="/assets/templateback/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="/assets/templateback/js/dashboard.js"></script>
        <!-- End custom js for this page -->