<app-front-header [darkMode]="true"></app-front-header>
<section class="reset-password-section">
  <div class="reset-password-container">
    <div class="reset-password-header">
      <img src="/assets/templatefront/assets/images/logo.png" alt="Your Logo" class="logo" /> <h2>Reset Password</h2>
      <p>Enter your new password below.</p>
    </div>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="submitResetPassword()">
      <div class="form-group">
        <input type="password" formControlName="password" placeholder="New Password" class="form-control" />
      </div>
      <div class="form-group">
        <input type="password" formControlName="confirmPassword" placeholder="Confirm Password" class="form-control" />
      </div>
      <button type="submit" [disabled]="resetPasswordForm.invalid" class="btn btn-primary">Reset Password</button>
    </form>

    <div *ngIf="resetPasswordSuccess" class="success-message">Password Reset Successful!</div>
    <div *ngIf="resetPasswordError" class="error-message">{{ resetPasswordError }}</div>
  </div>
</section>