.user-subhead {
    display: block; /* To make it appear on a new line */
    font-size: 0.8em; /* Adjust the size as needed */
    color: #6c757d; /* Optional: Add a slightly muted color */
    margin-left: 40px;
}
.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.pagination-controls button {
    margin: 0 5px;
    padding: 8px 12px;
    border: 1px solid #007bff; /* Blue border */
    background-color: #007bff; /* Blue background */
    color: white; /* White text */
    border-radius: 5px; /* Slightly rounded corners */
    cursor: pointer; /* Indicate it's clickable */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.pagination-controls button:hover {
    background-color: #0056b3; /* Darker blue on hover */
    border-color: #0056b3;
}

.pagination-controls button:disabled {
    background-color: #ccc; /* Gray background for disabled state */
    border-color: #ccc;
    color: #666;
    cursor: not-allowed; /* Indicate it's not clickable */
}

.pagination-controls span {
    margin: 0 10px;
}
.buttons-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Or center if you prefer */
    margin-top: 10px;
    margin-bottom: 15px;
}

.buttons-wrapper button {
    margin-left: 10px; /* Default margin between buttons */
    padding: 8px 16px; /* Adjust padding for better look */
    border: 1px solid #427b8c; /* Blue sky border color */
    background-color: #427b8c; /* Blue sky background color */
    color: white; /* White text for contrast */
    border-radius: 8px; /* Adjust for more or less rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.buttons-wrapper button:first-child {
    margin-left: 35px; /* Keep the initial left margin for the first button */
}

.buttons-wrapper button:hover {
    background-color: #3c96b1; /* Slightly darker blue on hover */
    border-color: #31b0d5;
}

.buttons-wrapper button:focus {
    outline: none; /* Remove default focus outline */
    box-shadow: 0 0 0 0.2rem rgba(91, 208, 222, 0.5); /* Add a subtle focus effect */
}

.buttons-wrapper button i {
    margin-right: 5px; /* Space between icon and text */
}

.buttons-wrapper button .text-blue {
    color: white !important; /* Ensure icon color is white */
}