<app-back-header></app-back-header>

<div class="container mt-4">
  <h1 style="margin-left: 20px;">List of Users</h1>
  <div class="buttons-wrapper">
    <button type="button" class="btn btn-outline-info" (click)="filterContent('all')" style="margin-left: 35px;">
      <i class="fa fa-globe text-blue"></i>ALL
    </button>
    <button type="button" class="btn btn-outline-info" (click)="filterContent('teacher')" style="margin-left: 10px;">
      <i class="fa fa-chalkboard-teacher"></i>Teachers
    </button>
    <button type="button" class="btn btn-outline-info" (click)="filterContent('student')" style="margin-left: 10px;">
      <i class="fa fa-user-graduate"></i>Students
    </button>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="main-box no-header clearfix">
        <div class="main-box-body clearfix">
          <div class="table-responsive">
            <table class="table user-list">
              <thead>
                <tr>
                  <th><span>User</span></th>
                  <th class="text-center"><span>Status</span></th>
                  <th><span>Email</span></th>
                  <th><span>Actions</span></th>
                  <th>&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of pagedUsers">
                  <td>
                    <img [src]="user?.picture" alt="" />
                    <a href="#" class="user-link">{{ user?.name }} {{ user?.surname }}</a>
                    <span class="user-subhead">{{ user?.role }}</span>
                  </td>
                  <td class="text-center">
                    <span class="label label-default" [ngClass]="getStatusClass(user?.status)">{{ user?.status }}</span>
                  </td>
                  <td>
                    <a href="#">{{ user?.email }}</a>
                  </td>
                  
                  <td style="width: 20%;">
                    <div style="display: flex; align-items: center; gap: 10px;">
                    <a href="javascript:void(0)" class="table-link text-warning" (click)="loadusercv(user)">
                      <span class="fa-stack">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>
                    <button *ngIf="!user.banned" class="btn btn-primary" (click)="confirmBan(user)">
                    <span class="user-icon">
                      <i class="fa fa-user"></i>
                      <i class="fa fa-minus red-icon"></i>Ban
                    </span>
                    </button>

                    
                      <button *ngIf="user.banned" class="btn btn-primary" (click)="confirmUnBan(user)">
                        <span class="user-icon">
                          <i class="fa fa-user"></i>
                          <i class="fa fa-plus green-icon"></i>Unban
                      </span>
                      </button>
                   

                    </div>
                    <div *ngIf="userCvUrl">
                      <iframe [src]="userCvUrl" width="600" height="400"></iframe>
                    </div>
                    
                    <ng-container *ngIf="selectedRole === 'teacher' && user?.role.toLowerCase() === 'teacher'">
                      <ng-container *ngIf="user?.status === 'PENDING'">
                        <button (click)="approveUser(user)" class="btn btn-success btn-sm" data-bs-toggle="tooltip" title="Approve teacher">
                          <i class="fa fa-check fa-sm"></i>
                        </button>
                        <button (click)="declineUser(user)" class="btn btn-danger btn-sm" data-bs-toggle="tooltip" title="Reject teacher">
                          <i class="fa fa-times fa-sm"></i>
                        </button>
                      </ng-container>
                    </ng-container>
                  </td>
                </tr>
              </tbody>
            </table>
           
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pagination-controls">
    <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
    <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">Next</button>
  </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
