<body>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <div class="page-content">

    <div class="container">
      <br>
      <h2 class="styled-titre">Add response for the question :</h2>
      <h5 class="styled-question">{{ question?.question }}</h5>
      <br>
  
      <button type="button" class="btn btn-modern-back" (click)="goBack()">
        <i class="fas fa-arrow-left"></i> Back
      </button>
  
      <form [formGroup]="addResponseForm" (ngSubmit)="addResponse()">
        <div formArrayName="responsesArray">
          <div *ngFor="let responseForm of responsesArray.controls; let i = index" [formGroupName]="i" class="response-container">
            <div class="response-header">
              <h3 class="styled-response">Response {{ i + 1 }}</h3>
              <button type="button" class="delete-response-button" (click)="removeResponse(i)">
                <i class="fas fa-trash-alt"></i>
              </button>
            </div>
  
            <div *ngIf="questionType === 'MULTIPLE_CHOICE'">
              <label for="response{{i}}">Response</label>
              <input id="response{{i}}" formControlName="response" class="form-control" required />
              <div *ngIf="responseForm.get('response')?.invalid && (responseForm.get('response')?.dirty || responseForm.get('response')?.touched)" class="alert alert-danger">
                Response is required.
              </div>
              <label>Correct ?</label>
              <select formControlName="responseCorrect" class="form-control">
                <option [ngValue]="true">Yes</option>
                <option [ngValue]="false">No</option>
              </select>
            </div>
  
            <div *ngIf="questionType === 'DRAG_AND_DROP'">
              <label>Source</label>
              <input formControlName="sourceText" class="form-control" required />
              <div *ngIf="responseForm.get('sourceText')?.invalid && (responseForm.get('sourceText')?.dirty || responseForm.get('sourceText')?.touched)" class="alert alert-danger">
                Source is required.
              </div>
              <label>Target</label>
              <input formControlName="targetText" class="form-control" required />
              <div *ngIf="responseForm.get('targetText')?.invalid && (responseForm.get('targetText')?.dirty || responseForm.get('targetText')?.touched)" class="alert alert-danger">
                Target is required.
              </div>
            </div>
          </div>
        </div>
  
        <div *ngIf="errorMessage" class="alert alert-danger">
          {{ errorMessage }}
        </div>

        <button type="button" class="btn btn-secondary" (click)="addAnotherResponse()">Add other Response +</button>
        <button type="submit" class="btn btn-primary" [disabled]="isAddButtonDisabled">Add</button>

      </form>
    </div>

<style>
.response-container {
  background-color: rgb(0 136 255 / 8%);
  border: 2px solid #000000;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  position: relative;
}

.response-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-response-button {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1.2em;
  color: #d32f2f;
}

.delete-response-button:hover {
  color: #700000;
}

.btn-modern-back {
        background: linear-gradient(135deg, #64B5F6, #1E88E5);
        border: none;
        padding: 8px 15px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 0.9em;
        color: white;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        transition: transform 0.2s ease, box-shadow 0.2s ease;
        margin-top: 4px;
    }

    .btn-modern-back:hover {
        transform: translateY(-2px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .btn-modern-back i {
        margin-right: 5px;
        color: white;
    }

    .styled-question {
      color: red;
      font-family: 'Arial', sans-serif; /* Choisissez la police que vous préférez */
      font-size: 1.2em; /* Ajustez la taille de la police si nécessaire */
      font-weight: bold; /* Optionnel : pour mettre le texte en gras */
    }

    .styled-response {
      color: #0010d0;
      font-family: 'Arial', sans-serif; /* Choisissez la police que vous préférez */
      font-size: 1.2em; /* Ajustez la taille de la police si nécessaire */
      font-weight: bold; /* Optionnel : pour mettre le texte en gras */
    }

    .styled-titre {
      color: rgb(255, 255, 255);
      font-family: 'Arial', sans-serif; /* Choisissez la police que vous préférez */
      font-size: 1.6em; /* Ajustez la taille de la police si nécessaire */
      font-weight: bold; /* Optionnel : pour mettre le texte en gras */
    }

    body {
          display: flex;
          flex-direction: column;
          min-height: 100vh;
          margin: 0;
          background-image: url('/assets/background_take_quiz.png');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          background-attachment: fixed;
        }
        .page-content {
          flex: 1; /* Permet au contenu de prendre tout l'espace disponible */
        }

form {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border: 2px solid #a10000;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 4px;
  margin-bottom: 88px;
}

</style>
</div>
   <!-- ***** Footer Area Start ***** -->
   <app-front-footer></app-front-footer>
   <!-- ***** Footer Area End ***** -->

  </body>