<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="quiz-container">
  <!-- Affichage du score avec un cercle de couleur -->
  <div *ngIf="score !== null" class="score-display">
    <div class="circle-container">
      <svg width="120" height="120" viewBox="0 0 120 120" class="score-circle">
        <circle cx="60" cy="60" r="50" stroke="#e6e6e6" stroke-width="10" fill="none"/>
        <circle cx="60" cy="60" r="50" stroke-width="10" fill="none"
        [attr.stroke]="getScoreColor()"
        [attr.stroke-dasharray]="score !== null ? score * 3.14 : 0" stroke-linecap="round"/>
        <text x="50%" y="50%" text-anchor="middle" dy=".3em" fill="white" font-size="24">{{ score }}%</text>
      </svg>
    </div>
    <p *ngIf="score >= 50"><strong><h3>Congratulations, you passed!</h3></strong></p>
    <p *ngIf="score < 50">
      <strong><h3>Sorry, you didn't pass this time.</h3></strong>
      <strong><h5>Good luck next time!</h5></strong>
    </p>
    <!-- Affichage du bouton de téléchargement du certificat si l'étudiant réussit le quiz -->
<div *ngIf="score !== null">
  <div *ngIf="score >= 50">
    <button class="download-button modern-button" (click)="downloadCertificate()">
      <i class="fas fa-download"></i> Télécharger le certificat
    </button>
  </div>
</div>

  </div>

  <!-- Affichage des détails du quiz -->
  <div *ngIf="score !== null" class="quiz-details">
    <h6>Détails du Quiz</h6>
    Titre : {{ quizDetails?.titleQuiz }}<br>
    Durée : {{ quizDetails?.duration }}
  </div>

  <!-- Affichage des informations avant le début du quiz -->
  <div *ngIf="!showQuizQuestions && score === null" class="quiz-details">
    <h2>Détails du Quiz</h2>
    <p><strong>Titre :</strong> {{ quizDetails?.titleQuiz }}</p>
    <p><strong>Durée :</strong> {{ quizDetails?.duration }}</p>
    <p><strong>Date de début :</strong> {{ quizDetails?.startDate | date:'dd/MM/yyyy HH:mm' }}</p>
    <p><strong>Date de fin :</strong> {{ quizDetails?.endDate | date:'dd/MM/yyyy HH:mm' }}</p>
    
    <div *ngIf="paymentSuccess === true">
      <button class="start-button" (click)="loadQuestions()">Passer le quiz</button>
    </div>
    <div *ngIf="paymentSuccess === false">
      <button class="start-button" (click)="goToPayment()">Passer le quiz</button>
    </div>

  </div>

  <!-- Affichage des questions -->
  <div *ngIf="showQuizQuestions" class="quiz-questions">
    <div *ngIf="questions.length > 0">
      <h3 class="question-header">
        Question {{ currentQuestionIndex + 1 }} / {{ questions.length }}
        <span class="timer">
            {{ formatTimeWithSeconds(timer) }}
            <i *ngIf="timer <= 120" class="fas fa-clock" [class.blink]="timer % 2 === 0"></i>
        </span>
    </h3>
      <p class="question-text">{{ questions[currentQuestionIndex].question }}</p>
      <img *ngIf="questions[currentQuestionIndex]?.questionPictureUrl"
           [src]="questions[currentQuestionIndex].questionPictureUrl"
           alt="Illustration de la question" class="question-image">

           <div *ngIf="questions[currentQuestionIndex].type === 'DRAG_AND_DROP'">
            <div class="drag-and-drop-container">
                <div class="target-items">
                    <div *ngFor="let pair of dragAndDropPairs[questions[currentQuestionIndex].idQuestion]; trackBy: trackByPair" class="target-item">
                        <div class="target-text">{{ pair.targetText }}</div>
                        <div class="drop-area"
                        (dragover)="onDragOver($event)"
                        (drop)="onDrop($event, questions[currentQuestionIndex].idQuestion, pair.idDragAndDrop)"
                        (dblclick)="resetDrop(questions[currentQuestionIndex].idQuestion, pair.idDragAndDrop)">
                        <span *ngIf="droppedItems[questions[currentQuestionIndex].idQuestion + '-' + pair.idDragAndDrop]">
                          {{ droppedItems[questions[currentQuestionIndex].idQuestion + '-' + pair.idDragAndDrop].sourceText }}
                        </span>
                      </div>
                    </div>
                </div>
                <div class="source-items">
                    <div *ngFor="let pair of shuffledDragAndDropPairs[questions[currentQuestionIndex].idQuestion]; trackBy: trackByPair"
                         class="drag-item"
                         draggable="true"
                         (dragstart)="onDragStart($event, pair)">
                        {{ pair.sourceText }}
                    </div>
                </div>
            </div>
        </div>
      <div *ngIf="questions[currentQuestionIndex].type !== 'DRAG_AND_DROP'">
        <div class="answer-options" *ngFor="let response of questions[currentQuestionIndex].responses"
             (click)="selectedResponses[questions[currentQuestionIndex].idQuestion] = response.idResponse"
             [class.selected]="selectedResponses[questions[currentQuestionIndex].idQuestion] === response.idResponse">
          <span class="answer-label">{{ response.response }}</span>
        </div>
      </div>


      <div class="navigation-buttons">
        <button *ngIf="currentQuestionIndex > 0" class="nav-button prev-button"
                (click)="prevQuestion()">Précédent</button>
        <button *ngIf="currentQuestionIndex < questions.length - 1"
                class="nav-button next-button" (click)="nextQuestion()">Suivant</button>
      </div>

      <button class="submit-button" (click)="submitQuiz()">Soumettre</button>
    </div>
  </div>
</div>  

<style>
::ng-deep body {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background-image: url('/assets/background_take_quiz.png');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
margin: 0;
}

.quiz-container {
max-width: 600px;
width: 100%;
background: #2d2d6e;
color: white;
padding: 20px;
border-radius: 10px;
text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.quiz-title {
font-size: 24px;
font-weight: bold;
}

.quiz-details p {
font-size: 16px;
}

.start-button {
background-color: #ff4757;
color: white;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
}

.question-header {
font-size: 20px;
margin-bottom: 10px;
}

.question-text {
font-size: 18px;
margin-bottom: 20px;
}

.answer-options {
display: flex;
align-items: center;
justify-content: center;
padding: 15px;
background: #3a3a7a;
border-radius: 5px;
cursor: pointer;
transition: background 0.3s ease;
margin-bottom: 10px;
user-select: none;
}

.answer-options:hover, .answer-options.selected {
background: #ff4757;
}

.answer-label {
font-size: 16px;
width: 100%;
text-align: center;
}

.navigation-buttons {
display: flex;
justify-content: space-between;
margin-top: 20px;
}

.prev-button {
margin-right: auto;
}

.next-button {
margin-left: auto;
}

.nav-button, .submit-button {
background-color: #3498db;
color: white;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
}

.score-display {
margin-bottom: 20px;
}

.quiz-details {
margin-top: 20px;
}

.score-display {
margin-bottom: 20px;
}

.circle-container {
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 20px;
}

.score-circle {
transform: rotate(0deg); /* Pour commencer à partir du haut */
}

.quiz-details {
margin-top: 20px;
}

.timer {
font-size: 18px;
margin-left: 15px;
font-weight: bold;
color: #ff4757; /* Couleur rouge pour le timer */
}

.question-image {
  max-width: 100%; /* L'image ne dépassera pas la largeur de son conteneur */
  max-height: 200px; /* Vous pouvez ajuster la hauteur maximale ici */
  width: auto; /* Laisser l'image garder ses proportions */
  height: auto;
  display: block;
  margin: 15px auto;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  object-fit: cover; /* Si vous voulez que l'image couvre l'espace sans déformation */
}

.drag-and-drop-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.target-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.target-item {
    display: flex;
    flex-direction: column;
}

.target-text {
    color: black;
    background-color: #e8e8e8;
    padding: 8px 12px;
    border-radius: 3px;
    text-align: center;
}

.drop-area {
    color: rgb(129, 0, 0);
    background-color: #f0f0f0;
    padding: 8px 12px;
    border-radius: 3px;
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    cursor: pointer;
}

.source-items {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.drag-item {
    transition: transform 0.3s ease; /* Ajout de la transition */
    background-color: #f0f0f0;
    padding: 8px 12px;
    border-radius: 3px;
    cursor: move;
    user-select: none;
    color: black;
    text-align: center;
    border: 1px solid #ddd;
}

.modern-button {
    background-color: #3498db; /* Couleur de fond moderne */
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.modern-button:hover {
    background-color: #2980b9; /* Couleur plus foncée au survol */
    transform: translateY(-2px); /* Légère élévation au survol */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
}

.modern-button:active {
    transform: translateY(1px); /* Légère descente à l'activation */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.modern-button i {
    font-size: 18px; /* Ajuster la taille de l'icône */
}

.blink {
    animation: blinker 1s linear infinite;
    color: red;
    margin-left: 5px;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

</style>
