<body>
    <app-front-header></app-front-header>
  
    <div class="container">
      <h2 class="text-center text-primary mb-4">Liste des Réclamations</h2>
  
      <div class="d-flex justify-content-between align-items-center mb-4">
        <input
          type="text"
          class="form-control w-50"
          placeholder="Rechercher par objet ou description"
          [(ngModel)]="objet"
          (ngModelChange)="filterReclamations()"  >
          <!-- Filtrer les réclamations lors de la saisie -->
        
        <div>
          <button (click)="loadReclamations()" class="btn btn-outline-secondary">Rafraîchir</button>
          <!-- Nouveau bouton pour redirection vers Ajouter Réclamation -->
          <button (click)="goToAddReclamation()" class="btn btn-primary ml-3">Ajouter Réclamation</button>
        </div>
      </div>
  
      <table class="table table-hover text-center">
        <thead>
          <tr>
            <th>Objet</th>
            <th>Statut</th>
            <th>Description</th>
            <th>Date</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let reclamation of reclamations">
            <td>{{ reclamation.objet }}</td>
            <td [ngClass]="{'text-success': reclamation.statut === 'traité', 'text-danger': reclamation.statut === 'non traité'}">
              {{ reclamation.statut }}
            </td>
            <td>{{ reclamation.description }}</td>
            <td>{{ reclamation.date | date: 'shortDate' }}</td>
            <td>
              <button 
                (click)="supprimerReclamation(reclamation.id)" 
                class="btn btn-sm btn-outline-danger"
                [disabled]="reclamation.statut === 'traité'">
                <i class="bi bi-trash"></i> Supprimer
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <app-front-footer></app-front-footer>
  </body>
  